*{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
}

nav {
    background-color: red;
    height: 10vh;
    
}

h1 {
    margin-left: 50px;
    
}

p {
    margin-left: 50px;
    margin-top: 20px;
}

.section1 {
    background-color: yellow;
    height: 30vh;
}

.section2 {
    background-color: orange;
    height: 30vh;
}

.section3 {
    background-color: green;
    height: 30vh;
}


/* tablet  */
@media  and (max-width: 768px){

    .section1 {
        background-color: yellow;
        font-size: 20px;
    }

    
}

/* telefoon */
@media screen and (max-width:576px){

    nav {
        background-color: blue;
    }
    .section1 {
        background-color: lightblue;   
    }
    .section2 {
        background-color: violet;  
    }
    .section3 {
        background-color: darkblue;
        
    }

    .logo {
        position: relative;
        text-align: start;
        font-size: 50px;
        top: 30%;
    }

    div {
        position: relative;
        margin-left: 500px;
        background-color: white;
        height: 2.5vh;
        width: 5vw;
    }

    h1 {
        position: relative;
        font-size: 40px;
        text-align: center;
        color: white;
        top: 100px;
    }

    p {
        position: relative;
        font-size: 25px;
        text-align: center;
        color: white;
        top: 90px;
    }
}