@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins');

body {
    margin:0px;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky; 
    background:#131c27;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    margin: auto;
  }

nav h1 {
    font-family:Pattaya;
    color: white;
    
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

p {
    font-family:poppins;
    color: white;
}

h1 {
    font-family:poppins;
    color: white;
}

h3 {
    font-family:poppins;
    color: white; 
}

div {
    font-family:poppins;
    color: white;
}

section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0) ),url(./img/landing-page.jpg) 0px -113px no-repeat;
    background-size: cover;
    text-align: center;
    
}

.home h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.home p {
    font-size: 30px;
}

.book {
    display: inline-block;
    background-color: #4c6e97;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
    align-self: center;
}

.explore {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) ),url(./img/new-york-page.png)center center;
    background-size: cover;
}

.explore h1 {
    margin-left: 80px;
    font-size: 40px;
    text-underline-offset: 20px;
    text-decoration-line: underline;
}

.explore p {
    margin-left: 80px;
    font-size: 30px;
}

.travel {
    background-color: black;
}

.travel h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.travel p {
    text-align: center;
    font-size: 30px;
}

.whitebox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 84vh;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
}

.travelbox {
    width: 325px;
    height: 375px;
    margin-top: 50px;
    background-color: white;
    background: linear-gradient(#131c27 20%, #131c27 0%, white 0%, white 0%);
    box-shadow: 2px 10px 5px rgb(211, 211, 211);
}

.travelbox h3 {
    font-family:poppins;
    color: black;
    text-align: center; 
    font-size: 30px;
    margin-top: 40px;
}

.travelbox p {
    font-family:poppins;
    color: black;
    margin-top: 70px;
    text-align: center;
    font-size: 17px;
}

.travelbox img {
    margin-top: 15px;
    margin-left: 145px;
}

.hotelbox {
    width: 325px;
    height: 375px;
    margin-top: 50px;
    background-color: white;
    background: linear-gradient(#131c27 20%, #131c27 0%, white 0%, white 0%);
    box-shadow: 2px 10px 5px rgb(211, 211, 211);
}

.hotelbox h3 {
    font-family:poppins;
    color: black;
    text-align: center; 
    font-size: 30px;
    margin-top: 40px;
}

.hotelbox p {
    font-family:poppins;
    color: black;
    margin-top: 70px;
    text-align: center;
    font-size: 17px;
}

.hotelbox img {
    margin-top: 15px;
    margin-left: 145px;
}


.flybox {
    width: 325px;
    height: 375px;
    margin-top: 50px;
    background-color: white;
    background: linear-gradient(#131c27 20%, #131c27 0%, white 0%, white 0%);
    box-shadow: 2px 10px 5px rgb(211, 211, 211);
}

.flybox h3 {
    font-family:poppins;
    color: black;
    text-align: center; 
    font-size: 30px;
    margin-top: 40px;
}

.flybox p {
    font-family:poppins;
    color: black;
    margin-top: 70px;
    text-align: center;
    font-size: 17px;
}

.flybox img {
    margin-top: 15px;
    margin-left: 145px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4) ),url(./img/contact-mountain.png)center center;
    background-size: cover;
}

.contactbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 15px;
    height: 50vh;
    width: 50vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.contactbox h1 {
    margin-top: 100px;
    font-size: 40px;
}

.form {
    margin: 30px;
    font-size: 15px;
}

.form input {
    margin: 20px;
}

#submit {
    font-family: 'Poppins', sans-serif;
    border-style: none;
    border-radius: 0px 0px 15px 15px;
    background-color: #4b6e97;
    width: 50vw;
    height: 9vh;
    color: white;
}
   
  button:hover {
    cursor: pointer;
}

.button {
    margin-top: 80px;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    background-size: cover;
    
}