@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins');

body {
    margin:0px;
}

nav {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    background:#131c27;
    align-items: center;
  }

nav h1 {
    font-family:Pattaya;
    color: white;
    
}

p {
    font-family:poppins;
    color: white;
}

h1 {
    font-family:poppins;
    color: white;
}

h3 {
    font-family:poppins;
    color: white; 
}

div {
    font-family:poppins;
    color: white;
}

section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.home {
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url(./img/landing-page.jpg);
    background-size: cover;
    text-align: center;
}

.home h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.book {
    display: inline-block;
    background-color: #4c6e97;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
}

.explore {
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url(./img/new-york-page.png)center center;
    background-size: cover;
    text-align: left;
}

.explore h1 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.travel {
    background-color: black;
}

.travel h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.travel p {
    text-align: center;
}

.whitebox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 84vh;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
}

.travelbox {
    width: 200px;
    height: 250px;
    margin-top: 50px;
    background-color: white;
    background: linear-gradient(#131c27 20%, #131c27 0%, white 0%, white 0%);
    box-shadow: 2px 5px 5px rgb(218, 216, 216);
}

.travelbox h3 {
    font-family:poppins;
    color: black;
    text-align: center; 
}

.travelbox p {
    font-family:poppins;
    color: black;
    text-align: center;
    font-size: smaller;
}

.travelbox img {
    margin-top: 5px;
    margin-left: 80px;
}

.hotelbox {
    width: 200px;
    height: 250px;
    margin-top: 50px;
    background-color: white;
    background: linear-gradient(#131c27 20%, #131c27 0%, white 0%, white 0%);
    box-shadow: 2px 5px 5px rgb(218, 216, 216);
}

.hotelbox h3 {
    font-family:poppins;
    color: black;
    text-align: center; 
}

.hotelbox p {
    font-family:poppins;
    color: black;
    text-align: center;
    font-size: smaller;
}

.hotelbox img {
    margin-top: 5px;
    margin-left: 80px;
}


.flybox {
    width: 200px;
    height: 250px;
    margin-top: 50px;
    background-color: white;
    background: linear-gradient(#131c27 20%, #131c27 0%, white 0%, white 0%);
    box-shadow: 2px 5px 5px rgb(218, 216, 216);
}

.flybox h3 {
    font-family:poppins;
    color: black;
    text-align: center; 
}

.flybox p {
    font-family:poppins;
    color: black;
    text-align: center;
    font-size: smaller;
}

.flybox img {
    margin-top: 5px;
    margin-left: 80px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4) ),url(./img/contact-mountain.png)center center;
    background-size: cover;
}

.contactbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 15px;
    border-bottom: 5px 5px blue;
    height: 50vh;
    width: 50vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.contactbox h1 {
    margin-top: 100px;
    font-size: 40px;
}

#submit {
    font-family: 'Poppins', sans-serif;
    border-style: none;
    border-radius: 0px 0px 15px 15px;
    background-color: #4b6e97;
    width: 50vw;
    height: 9vh;
    color: white;
}
   
  button:hover {
    cursor: pointer;
}

.button {
    margin-top: 80px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    background-size: cover;
    
}