* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  width: 100vw;
  height: 100vh;
  margin-bottom:50px;
  
}

.index-body {
  background-image: url(img/background.jpeg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

div {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   }


section {
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
  }
  
.section2 {
  float: right;
  width: 50%;
  padding: 50px;
  height: 300px;
}


.black {
  background-color: black;
}

.white {
  color: white;
  font-size:x-large;
}

footer {
  background: #00a8c7;
  font-family: "Goldman";
  position:fixed; 
  width: 100vw;
  left: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 39.5%;
  padding-right: 39.4%;
  position:fixed;
  bottom: 0px;
}
